
@{
    ViewBag.Title = "Email Verification";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

@*<h2>Index</h2>*@

@*@using (html.beginform())
    {
        <input type="text" name="email" />
        <input type="text" name="password" />
        <input type="submit" />

    }*@

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Email Verification</title>

    <!-- Prevent the demo from appearing in search engines (REMOVE THIS) -->
    <meta name="robots" content="noindex">

    <!-- Material Design Icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Roboto Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">

    <!-- App CSS -->
    @*<link type="text/css" href="assets/css/style.min.css" rel="stylesheet@*">*@
    <link href="~/Content/LoginPage/style.min.css" rel="stylesheet" />
</head>

<body class="login">

    <div class="row">
        <div class="col-sm-8 col-sm-push-1 col-md-4 col-md-push-4 col-lg-4 col-lg-push-4">
            <div class="center m-a-2">
                <div class="icon-block img-circle">
                    <i class="material-icons md-36 text-muted">lock</i>
                </div>
            </div>
            <div class="card bg-transparent">
                <div class="card-header bg-white center">
                    <h4 class="card-title">Email Verification</h4>
                    <p class="card-subtitle">Access your account</p>
                </div>
                <div class="p-a-2">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            <input type="email" name="Email" class="form-control" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="text" name="EmailVerificationCode" class="form-control" placeholder="Email Verification Code">
                        </div>
                        <div class="form-group ">
                            <button type="submit" class="btn  btn-primary  btn-block btn-rounded">
                                Verify
                            </button>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>

    @*jQuery
        <script src="assets/vendor/jquery.min.js"></script>

        Bootstrap
        <script src="assets/vendor/tether.min.js"></script>
        <script src="assets/vendor/bootstrap.min.js"></script>

        AdminPlus
        <script src="assets/vendor/adminplus.js"></script>

        App JS
        <script src="assets/js/main.min.js"></script>*@
    <script src="~/Scripts/LoginPanel/jquery.min.js"></script>
    <script src="~/Scripts/LoginPanel/tether.min.js"></script>
    <script src="~/Scripts/LoginPanel/bootstrap.min.js"></script>
    <script src="~/Scripts/LoginPanel/adminplus.js"></script>
    <script src="~/Scripts/LoginPanel/main.min.js"></script>
</body>

</html>