@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Student/Views/Shared/_StudentBase.cshtml";
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Search Teacher
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Quick Example</h3>
                    </div>
                    <form role="form" action="" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Location</label>
                                <input type="text" name="Location" class="form-control" id="exampleInputEmail1" placeholder="Enter Location">
                            </div>
                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>

            <div class="clearfix visible-sm-block"></div>
            
        </div>
        <div class="row">
            @if (Model.teacherTbllist != null)
            {
                    foreach (var item in Model.teacherTbllist)
                    {
            <a href="~/Student/TeacherDetails/Index/@item.TeacherID">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-video-camera"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">@item.FullName</span>
                            @{
                                if (item.RateTbls.Count != 0)
                                {
                                    int count = item.RateTbls.Count;
                                    decimal sum = 0;
                                    foreach(var item2 in item.RateTbls)
                                    {
                                        sum = sum + item2.Rate;
                                    }
                                    decimal rating = sum / count;
                                    <span class="info-box-number">@rating /5</span>
                                }
                                else
                                {
                                    <span class="info-box-number">0 /5</span>
                                }

                            }
                        </div>
                    </div>
                </div>
            </a>
                                    }

                                }

        </div>
    </section>
</div>

@section Scripts
{
}