
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Index";
}
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>About Us</h2>
            <p>Find your ideal Home Tutors</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
                <div class="image">
                    <img src="~/Images/about.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-left">
                <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
                    <h3>Choose time for your convenience and learn at comfort of your home with the best home tutors</h3>
                    <p class="font-italic">
                        Find your ideal Home Tutors for School Tution, Competiton Exams, Yoga, Music, Dance, Art & Crafts and Languages.
                    </p>
                    <ul>
                        <li><i class="bx bx-check-double"></i> Information can be entered online. </li>
                        <li><i class="bx bx-check-double"></i> Faculty can post answers online where students can see the answers within no time. </li>
                        <li><i class="bx bx-check-double"></i> Student can save video classes and learn anytime and anywhere. </li>
                        <li><i class="bx bx-check-double"></i> Time can be saved and don't need any special maintenence. </li>
                        <li><i class="bx bx-check-double"></i> Information once stored can be updated, edited, and deleted. </li>
                        <li><i class="bx bx-check-double"></i> Student can view the details, list, ppt's and interactive video lessons categorized by subjects which are posted by the faculty. </li>
                        <li><i class="bx bx-check-double"></i> See tutors' schedules and book lessons at times that work for you. </li>
                        <li><i class="bx bx-check-double"></i> Student can ask questions and find answers for their questions. </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->
