<!DOCTYPE html>
<html>
<head>

</head>
<body>

    <section class="kaizen">
        <div class="kaizencontent">

            <div class="kaizen-logo" align="center">
                <img src="{1}/Images/HomePage/img/logo.png">
            </div>


            <div class="kaizentutorcontent" style="margin-left: 10%";text-align: justify">
                <div style="margin-right:10%">
                <p>Name,{0}</p>

                <p>
                    Welcome! You’re enrolled in the Principles of Finance: A Practical Approach </br>
                    </br>
                    Your subscription begins on Saturday, November 14 at<b> 6:30 PM IST (New York, 8:00 AM EST)</b>. Each weekend you will have two sessions: Saturday and Sunday at 6:30 PM IST. Each session is two-hour duration. Please review the <a href="#" style="color:darkcyan"> updated syllabus</a> on our site.  You will have full access to all the course contents and lecture videos.
                </p>


                <h3 style="color: black">Here are a few tips to help you master the program:</h3>
                <ul>
                    <li>
                        1.	Since the course curriculum is rigorous, we encourage you to follow the schedule on the syllabus, attend all live lessons, participate in the discussion, and complete the quiz assignments on time which will be sent to you on your registered email.
                    </li>
                    <br>
                    <li>
                        2.	Follow the prerequisite requirements stated on the syllabus. You need a basic understanding of the statistics for you to get a good grasp of the Introduction to Risk and Return on Module 2
                    </li>
                    <br>
                    <li>
                        3.	You can access the course from your computer or mobile device.
                    </li>
                </ul>

                <p>
                    If you are taking this course to master job skills, accomplish your career goals with a <a href="#" style="color:darkcyan">Course Certificate</a>.
                    <br>
                    <br>
                    We're excited for you to start learning.
                    <br>
                    <br>
                    Best Regards,
                    <br>
                    <br>
                    Kaizen Team
                    </p>


                    
</div>
            </div>

            







        </div>
    </section>

</body>
</html>