<!DOCTYPE html>
<html>
<head>

</head>
<body>

    Welcome to Teachers Community
    <!--<section class="kaizen">
        <div class="kaizencontent">

            <div class="kaizen-logo" align="center">
                <img src="{2}/Images/HomePage/img/logo.png">
            </div>


            <div class="kaizentutorcontent" style="margin-left: 10%; text-align: justify">
                <p>Dear {0},</p>

                <p>
                    Thank you for signing up. We are excited to help you get started on your educational journey. We bring the much-needed practical perspectives into the classroom from our years of experience in Wall Street and in academia in the US. That is the distinctive benefit of our programs.
                    </br>
                    </br>
                    We would like to give you a brief introduction of our courses:
                </p>


                <h3 style="color: #00E5FF">Principles of Finance: A Practical Approach</h3>

                <p>This course is designed as a core course for participants in the BBA and MBA program, and it is a foundational course for advanced level finance courses as well. Although this course is structured to build the required expertise in the area of corporate finance, it provides a solid base for a career in personal finance. <b>Undergraduate level accounting courses such as managerial finance or financial accounting or basic accounting course is required for successful completion of this course.</b></p>
                </br>
                Difficulty: Introductory level
                </br>
                Course Language: English



                <h3 style="color: #00E5FF">Financial Modeling and Valuation: A Wall Street Perspective</h3>

                <p>This is an advanced level real-world case-based course for a career in financial analysis and valuation. This course apply all the concepts, theories, and tools taught in the course <b>Principles of Finance: A practical Approach.</b></p>
                </br>
                Difficulty: Advanced level
                </br>
                Course Language: English
                </br>
                Pre-requisite: Principles of Finance: A Practical Approach.


                <h3 style="color: #00E5FF">Venture Capital and Private Equity</h3>

                <p>This course is a superb program for participants pursuing a lucrative career in venture capital and private equity, and also for participants who wish to broaden their understanding of finance by applying financial theories, concepts, and techniques to analyze activities in the venture capital and private equity market.</p>
                </br>
                Difficulty: Advanced level
                </br>
                Course Language: English
                </br>
                Pre-requisite: Principles of Finance: A Practical Approach.
                </br>
                </br>
                <p> <b>We would encourage you to carefully read the course syllabus.  The course syllabus for each course can be downloaded on <u>our website.</u></b></p>

                <p><b>&nbsp;&nbsp;&nbsp;The next term is starting soon. You will receive a separate email about the course schedule.</b></p>


                <p> We would like to connect at a time that works best with your schedule if you have any questions. Please feel free to contact us at <a href="mailto:info@kaizentutors.com">info@kaizentutors.com</a> with a time and date that works best for you. </p>
                <p>
                    Sincerely,
                    </br>
                    The Kaizen Online Advising Team
                </p>

            </div>

            <div style="text-align: center; font-size: 13px;padding-top: 10px">
                <a href="https://www.kaizentutors.com/Home/PrivacyPolicy">Privacy Policy</a>|
                <a href="https://www.kaizentutors.com/Home/TOS">Terms of Service</a>|
                <a href="https://www.kaizentutors.com/Home/UnSubcribeEmail">Unsubscribe</a>
            </div>







        </div>
    </section>-->

</body>
</html>